if (process.env.APP_ENV === "prod") {
  exports.env = {
    apiUrl: "https://api.im-neko.dev",
    mysql_host: "mysql",
    mysql_port: 3306,
    mysql_user: "user",
    mysql_pass: "password",
    mysql_db: "app",
    CK: "twitter consumer key",
    CS: "twitter consumer secret",
    AK: "twitter access token key",
    AT: "twitter access token"
  }
} else {
  exports.env = {
    apiUrl: "http://localhost:3000",
    mysql_host: "mysql",
    mysql_port: 3306,
    mysql_user: "user",
    mysql_pass: "password",
    mysql_db: "app",
    CK: "twitter consumer key",
    CS: "twitter consumer secret",
    AK: "twitter access token key",
    AT: "twitter access token"
  }
}

